# Firebase Config
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=brukerstats-dashboard.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=brukerstats-dashboard
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=brukerstats-dashboard.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
